<!DOCTYPE html>
<html lan="en-US">
<head>
<title>FlightSim Cockpit</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="header">
    <h1>Flight Simulator Cockpit</h1>
</div>

<div class="row">
  <div class="column side">
    <ul>
        <li><a href="index.html" class="active">Home</a></li>
        <li><a href="aboutme.html">About Me</a></li>
        <li><a href="cockpit.html">The Project</a></li>
        <li><a href="currentstate.html">Status</a></li>
    </ul>
  </div>
  <div class="column middle">
      <!-- Content goes here. -->
  </div>
</div>

</body>
</html>